*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MV Boli';
    src: url(../fonts/mvboli.ttf);
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerRegular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url(../fonts/FontsFree-Net-ACaslonPro-Bold.ttf);
}

@font-face {
    font-family: 'Cambria';
    src: url(../fonts/Cambria.ttf);
}

/*| Navigation |*/

nav ul {
    list-style: none;
    position: relative;
    float: center;
    display: inline-table;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li a {
    display: block;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 0px;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li:hover {
    background: rgba(0, 0, 0, 0.126);
}


nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.mobile-menu__item a {
    color: #fff;
    text-decoration: none;
}

.mobile-menu__item ul {
    background: #064828;

}

.mobile-menu__item ul li a {
    padding: 10px;
    font-size: 18px;
}

/* бургер */

.mobile-menu {
    /* position: fixed;
    display: flex; */
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    /* background-color: #27ae60; */
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
}

.mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.mobile-menu__icon {
    display: block;
    position: relative;
    background: #02733D;
    width: 90%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #02733D;
    width: 100%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after {
    top: 8px;
}

.mobile-menu__icon::before {
    top: -8px;
}

.mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 83px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    background-color: #02733D;
}

.mobile-menu__list {
    transition: 0.5s;
    transition-delay: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
}

.mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
}

.mobile-menu__link {
    text-decoration: none;
    color: #fff;
}

.mobile-menu__link:hover {
    text-decoration: none;
    color: #fff;
}

.mobile-menu__checkbox {
    display: none;
}

.mobile-menu__checkbox:checked~.mobile-menu__nav {
    opacity: 1;
    transition-delay: 0s;
}

.mobile-menu__checkbox:checked~.mobile-menu__container {
    height: 100%;
    transition-delay: 0s;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/* навигация */

.logo {
    max-width: 150px;
    width: 100%;
}

.left_nav ul {
    list-style: none;
    margin-bottom: 0px;
}

.left_nav ul li {
    margin-left: 25px;
    margin-right: 25px;
}

.left_nav ul li a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #585858;
    text-decoration: none;
}

.contaiener_nav {
    margin-top: 19px;
    margin-bottom: 9px;
}

.call {
    display: block;
    background: #039434;
    border-radius: 4px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 10px 23px;
    text-decoration: none;
}

.call:hover {
    color: #fff;
}

/* header  */

.header_body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* о компании */

.about {
    margin-top: 60px;
    margin-bottom: 60px;
}

.left_about {
    max-width: 700px;
    width: 100%;
}

.left_about h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
}

.left_about p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 31px;
}

/* ассортимент */

.images {
    text-align: center;
}

.assort {
    margin-top: 82px;
    margin-bottom: 34px;
}

.assort h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
    margin-bottom: 23px;
}

.assort p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 40px;
}

/* мы предлагаем */

.pred {
    margin-top: 34px;
    margin-bottom: 57px;
}

.pred h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
}

.pred p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 13px;
}

/* почему */

.poch {
    margin-bottom: 57px;
}

.poch h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
}

.poch p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 10px;
}

/* блог */

.blog_ {
    max-width: 321px;
    width: 100%;
}

.blog h4 {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #088C4D;
    margin-bottom: 0;
}

.blog a {
    font-family: 'Muller';
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 30px;
}

.blog_ h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 8px;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.blog_ h5 img {
    margin-right: 5px;
}

.blog_ h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
}

.blog_ p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin-top: 8px;
    margin-left: 8px;
}

.blog_ a {
    background: #000000;
    display: inline-block;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 8px;
    padding: 5px 10px;
    text-decoration: none;
}

/* footer */

.footer {
    background: #02300C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.right__foot a {
    display: block;
}

.left_foot h5 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.telegram {
    margin-top: 20px;
}

.tel {
    display: block;
    margin-top: 20px;

    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.tel:hover {
    color: #fff;
}

.tel img {
    margin-right: 15px;
}

.left__foot a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}

.left__foot a::after {
    content: '';
    display: inline-block;
    height: 140px;
    width: 1px;
    background: #fff;
    margin-left: 20px;
}

.center__foot {
    max-width: 176px;
    width: 100%;
    position: relative;
}

.center__foot::after {
    content: '';
    display: flex;
    height: 140px;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.center__foot h5 {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.center__foot p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.right__foot a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 4px;
}

.right__foot {
    margin-left: 20px;
}

@media screen and (max-width: 992px) {

    .container_header img {
        display: none;
    }

    .contaiener_nav {
        flex-direction: column;
    }

    .container_about {
        justify-content: center !important;
    }

    .input {
        justify-content: center;
    }

    input {
        margin: 5px;
    }

    .pro {
        margin-top: 10px;
    }

    .container_klass {
        justify-content: center !important;
    }

    .klasss {
        margin: 5px;
    }

    .container_blog {
        justify-content: center !important;
    }

    .blog_ {
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .left_nav {
        justify-content: center !important;
    }

    .right_foot {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {



    /* навигация */

    .about {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contaiener_nav {
        margin-top: 5px;
        flex-direction: row;
    }

    .left_nav ul {
        display: none !important;
    }

    .container_header h1 {
        font-size: 36px;
    }

    .container_header p {
        font-size: 14px;
    }

    .right_nav {
        display: none;
    }

    /* о компании */

    .left_about {
        margin-right: 0px;
    }

    .left_about h3 {
        font-size: 26px;
    }

    .left_about p {
        font-size: 14px;
    }

    .right_about img {
        width: 100%;
    }

    /* ассортимент */

    .images img {
        width: 100%;
    }

    .assort h3,
    .pred h3,
    .poch h3 {
        font-size: 26px;
        text-align: center;
    }

    .assort p,
    .pred p,
    .poch p {
        font-size: 14px;
    }

    /* выгоднее */

    .container_vigodno h3 {
        font-size: 36px;
    }

    .cards_vigodno {
        justify-content: center !important;
    }

    /* форма */

    .container_form h3 {
        font-size: 22px;
    }

    .input {
        max-width: 400px;
        width: 100%;
    }

    .form input {
        margin-right: 0px;
        margin-left: 0px;
        padding: 10px 100px 10px 10px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .form button {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 40px;
    }

    /* сфера проектирования */

    .project h4 {
        font-size: 36px;
        line-height: 36px;
    }

    .pro {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .project {
        padding-bottom: 50px;
    }

    /* классификация */

    .container_klass {
        justify-content: center !important;
    }

    .klass h4 {
        font-size: 36px;
    }

    .klasss h5 {
        margin-bottom: 40px;
    }

    .klasss a:hover {
        top: 0px;
        bottom: 73px;
    }

    /* блог */

    .container_blog {
        justify-content: center !important;
    }

    .blog h4 {
        font-size: 32px;
        line-height: 40px;
    }

    .blog a {
        font-size: 18px;
        line-height: 15px;
    }

    .img_b {
        width: 100%;
    }

    .blog_ h5 {
        font-size: 12px;
    }

    .blog_ h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .blog_ p {
        font-size: 10px;
        line-height: 12px;
    }

    .blog_ a {
        background: #000000;
        display: inline-block;
        border-radius: 2px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 8px;
        padding: 5px 10px;
        text-decoration: none;
    }

    .blog_i {
        width: 100%;
    }

    /* footer */

    .container_footer {
        flex-direction: column;
    }

    .left_foot {
        order: 2;
    }

    .left__foot a::after {
        display: none;
    }

    .center__foot::after {
        display: none;
    }

    .right_foot {
        flex-direction: column;
    }

    .left__foot {
        display: none;
    }

    .right__foot {
        order: 0;
        margin-left: 0px;
        margin: 0 auto;
    }

    .center__foot {
        order: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container_footer,
    .right_foot {
        justify-content: center !important;
    }

    /* бургер */

    .mobile-menu {
        display: flex !important;
    }

}