*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MV Boli';
    src: url(/fonts/mvboli.ttf);
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerRegular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url(/fonts/ACaslonPro-Regular.ttf);
}

@font-face {
    font-family: 'Cambria';
    src: url(/fonts/Cambria.ttf);
}

/* навигация */

.logo {
    max-width: 150px;
    width: 100%;
}

.left_nav ul {
    list-style: none;
    margin-bottom: 0px;
}

.left_nav ul li {
    margin-left: 25px;
    margin-right: 25px;
}

.left_nav ul li a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #585858;
    text-decoration: none;
}

.contaiener_nav {
    margin-top: 19px;
    margin-bottom: 9px;
}

.call {
    display: block;
    background: #039434;
    border-radius: 4px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 10px 23px;
    text-decoration: none;
}

.call:hover {
    color: #fff;
}

/* header */

.header_body {
    padding-top: 100px;
    padding-bottom: 129px;
}

.header_body {
    position: relative;
}

.container_header img {
    position: absolute;
    top: 46px;
    right: 0;
}

.container_header h1 {
    font-family: 'Adobe Caslon Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
    max-width: 569px;
    width: 100%;
}

.container_header p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 344px;
    width: 100%;
    margin-top: 11px;
}

.container_header a {
    margin-top: 32px;
    display: inline-block;
    background: #02733D;
    border-radius: 4px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 8px 32px;
    text-decoration: none;

}

/* сфера применения */

.sfera {
    padding-top: 20px;
}

.left_sfera {
    max-width: 707px;
    width: 100%;

}

.left_sfera h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
    margin-top: 17px;
}

.left_sfera p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 17px;
}

/* предназначение */

.prednaz {
    padding-bottom: 40px;
}

.right_pred {
    max-width: 707px;
    width: 100%;
}

.right_pred h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
}

.right_pred p {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 10px;
}

/* форма */

.container_form {
    padding-top: 50px;
    padding-bottom: 200px;
}

.container_form h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 132.5%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #088C4D;
    margin-bottom: 50px;
}

.form input {
    background: #EBEBEB;
    border: 3px solid #088C4D;
    padding: 14px 200px 14px 22px;
    margin-right: 30px;
    margin-left: 30px;
}

.form input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.form button {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    background: #005823;
    padding: 20px 87px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.forma {
    background: url(../img/krupnoshitovaya/form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* с нами выгоднее */

.card_vigodno {
    max-width: 338px;
    width: 100%;
    margin-top: 30px;
}

.container_vigodno {
    margin-top: 92px;
}

.container_vigodno h3 {
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #088C4D;
    text-align: center;
}

.card_vigodno .img {
    margin-right: 20px;
}

.text h4 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #088C4D;
}

.text p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;
}

/* сферы проектирования */

.project {
    margin-top: 100px;
}

.pro {
    max-width: 280px;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.pro h5 {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.pro h5:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.30);
}

.pro img {
    display: block;
}

.project h4 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: #088C4D;
    margin-bottom: 30px;
}

.project {
    padding-bottom: 100px;
}

/* классификация продукции */


.klass {
    padding-bottom: 30px;
}

.klass h4 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 132.5%;
    letter-spacing: -0.04em;
    color: #088C4D;
    text-align: center;
    margin-bottom: 50px;
}

.klasss img {
    display: block;
    width: 100%;
}

.klasss {
    position: relative;
}

.klasss a {
    opacity: 0;
    position: absolute;
    top: -50px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.klasss a:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    bottom: 40px;
    right: 0;
    left: 0;
}

.klasss h5 {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

/* блог */

.blog_ {
    max-width: 321px;
    width: 100%;
}

.blog h4 {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #088C4D;
    margin-bottom: 0;
}

.blog a {
    font-family: 'Muller';
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 30px;
}

.blog_ h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 8px;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.blog_ h5 img {
    margin-right: 5px;
}

.blog_ h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
}

.blog_ p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-top: 8px;
    margin-left: 8px;
}

.blog_ a {
    background: #000000;
    display: inline-block;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 8px;
    padding: 5px 10px;
    text-decoration: none;
}

/* footer */

.footer {
    background: #02300C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.right__foot a {
    display: block;
}

.left_foot h5 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.telegram {
    margin-top: 20px;
}

.tel {
    display: block;
    margin-top: 20px;

    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.tel:hover {
    color: #fff;
}

.tel img {
    margin-right: 15px;
}

.left__foot a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}

.left__foot a::after {
    content: '';
    display: inline-block;
    height: 140px;
    width: 1px;
    background: #fff;
    margin-left: 20px;
}

.center__foot {
    max-width: 176px;
    width: 100%;
    position: relative;
}

.center__foot::after {
    content: '';
    display: flex;
    height: 140px;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.center__foot h5 {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.center__foot p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.right__foot a {
    font-family: 'MV Boli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 4px;
}

.right__foot {
    margin-left: 20px;
}

/* характеристики */

.xarakter {
    padding-bottom: 50px;
    margin-bottom: 20px;
    background: url(../img/krupnoshitovaya/tab_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.xarakter h3 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #088C4D;
}

.xarakter h5 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.one_x img {
    margin-right: 20px;
}

.one_x {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    text-align: center;
    max-width: 940px;
    width: 100%;
}

td {
    border: 1px solid #088C4D;

    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}